* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carousel-control-next {
    height: 30vh;
}

.carousel img {
    height: 30vh;
}

.boton {
    color: white;
    background-color:  #dc046c ;
}

.boton:hover {
    color: black;
    background-color: white;
}


main {
    min-height: 90vh;
}

footer {
    height: 20vh;
}

#iconos {
    width: 15rem;
    height: 5rem;
}

p {
    margin-bottom: 0;
}

form label {
    width: 40vw;
}

.caja {
    height: 5rem;
}

table {
    width: 80vw !important;
}

td {
    height: 2rem;
}

.cabeza {
    font-weight: bold;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

@media only screen and (max-width: 767px){
     .boton {
        background-color: transparent;
        color: white;
     }
}

@media only screen and (max-width: 1366px){
    .buscar {
       width: 50vw;
    }
}

@media only screen and (max-width: 417px){
    .cajas div {
        width: 40vw;
    }
}